.Side__bar
  %div.LeftHeader
    %div.LeftHeader__list
      %h3.LeftHeader__userName
        = current_user.name
      %ul.LeftHeader__iconList
        %li.LeftHeader__Icon
          = link_to new_group_path, class: "Contents__btn" do
            = icon('far', 'edit')
        %li.LeftHeader__Icon
          = link_to edit_user_path(current_user), class: "Contents__btn" do
            = icon('fas', 'cog')
  %div.Grouplist
    - current_user.groups.each do |group|
      %div.Group
        = link_to group_messages_path(group) do
          %div.Group__name
            = group.name
          %div.Group__message
            = group.show_last_message